@import 'nib/vendor'
@import 'iconos.styl'
@import 'iconos_redes.styl'

@import 'nib/gradients'

@font-face {
	font-family: 'Concielian'
	src:url('fuentes/ConcielianAlpha.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'goodtime'
	src:url('fuentes/GOODTIME.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}


html
	/*background url(imagenes_css/fondo-motor.jpg) no-repeat fixed center
	background-size cover*/
	background linear-gradient(135deg, #3f4c6b 0%,#fff 100%);
	body
		.delimitador
			//width 85%
			//margin 0 auto 0 auto
			.contenedor			
				.area_noticias
					//width 100%
					background-color rgba(240, 240, 240, .7)
					.noticia
						display inline-block
						//width 40%
						background-color rgba(230, 230, 230, .8)
						padding 2em
						margin 0 auto 1em auto
						.imagen_noticia
							img
								width 100%
						.titular
							border-bottom solid 1px grey
							font-size 18px
							font-weight bold
							color rgb(100, 100, 100)
							a
								text-decoration none
				.contenedor_video
					display none
					background-color rgba(0, 0, 0, .75)
					margin-bottom 10px
					.muestra_video
						display inline-block
						padding 1em						
					.texto_video
						width 27%
						margin-top 1em						
						padding 1em
						display inline-block
						background-color rgba(92, 92, 92, .8)
						color white
						vertical-align top
						.titulo_video
							border-bottom solid 1.5px white
							margin-bottom 10px
							
							h4
								display inline-block
								vertical-align top								
								//font-size 16px								
								margin-top 15px
								margin-bottom 0
								font-family 'goodtime'
								font-size 18px
							img
								display inline-block
								width 30px
								height 30px
			header
				z-index 0
				position relative
				img
					width 100%
				.titulo_header
					font-family 'goodtime'
					padding 0
					background-color #fff
					color #000
					opacity .7
					position absolute
					width 70%
					bottom 5%
					left 0%
					#marca
						display none
		footer
			padding 2em
			background-color rgb(90, 90, 90)
			color rgb(50, 50, 50)
			.datos_contacto
				display inline-block
				ul
					list-style none	
					.info
						font-size 14px
						border-bottom solid 1px rgb(50, 50, 50)
						a
							text-decoration none
							color rgb(50, 50, 50)
		.contenedor_nav
			background-color black
			height 61px			
			.menu
				z-index 100
				margin 0
				width 100%
				background-color rgba(0,0,0, 0.6)
				h1
					margin 15px 0 0 5px
					padding 0
					color white
					display inline-block
					vertical-align top	
					font-family 'goodtime'				
				img
					margin-top .3em
					display inline-block
					width 50px
					height 50px
				.lista_menu		
					display none
					vertical-align top
					float right
					.item
						display inline-block
						padding .3em
						border-right solid 2px white						
						border-radius 20px				
						margin 0 .1em
						a
							color white
							text-decoration none
							font-weight bold
				.menu_movil
					margin-top .3em
					display inline-block
					float right
					font-size 40px			
					vertical-align top
					a
						color white
						text-decoration none

@media screen and (min-width: 480px)
	html
		body
			.delimitador
				.contenedor			
					.area_noticias						
						//background-color orange
						width 90%
						margin 0 auto 0 auto
						/*.noticia
							width 40%*/

@media screen and (min-width: 825px)
	html
		body
			.delimitador
				.contenedor			
					.area_noticias
						.noticia
							width 40%
				header
					.titulo_header
						#marca
							display block						
							width 100%
			.contenedor_nav
				.menu
					.lista_menu
						display inline-block
					.menu_movil
						display none


@media screen and (min-width: 1024px)
	html
		background url(imagenes_css/fondo-motor.jpg) no-repeat fixed center
		background-size cover
		body
			.delimitador
				width 85%
				margin 0 auto 0 auto

@media screen and (min-width: 1280px)
	html
		body
			.delimitador
				.contenedor
					.area_noticias
						width 80%
						margin 0
					.contenedor_video
						display block						
