@import 'nib/vendor'

@import 'nib/gradients'

@font-face {
	font-family: 'Concielian'
	src:url('fuentes/ConcielianAlpha.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'goodtime'
	src:url('fuentes/GOODTIME.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}


html
	background url(imagenes_css/fondo-motor.jpg) no-repeat fixed center
	background-size cover
	body
		.delimitador
			width 85%
			margin 0 auto 0 auto
			.contenedor			
				.area_noticias
					width 900px
					//background-color orange
					.noticia
						display inline-block
						width 40%
						background-color rgba(230, 230, 230, .8)
						padding 2em
						margin 0 .5em 1em .5em
						.imagen_noticia
							img
								width 100%
						.titular
							border-bottom solid 1px grey
							font-size 18px
							font-weight bold
							color rgb(100, 100, 100)
							a
								text-decoration none
				.contenedor_video
					background-color rgba(0, 0, 0, .75)
					margin-bottom 10px
					.muestra_video
						display inline-block
						padding 1em						
					.texto_video
						width 30%
						margin-top 1em
						padding 1em
						display inline-block
						background-color rgba(92, 92, 92, .8)
						color white
						vertical-align top
						.titulo_video
							border-bottom solid 1.5px white
							margin-bottom 10px
							
							h4
								display inline-block
								vertical-align top								
								//font-size 16px								
								margin-top 15px
								margin-bottom 0
								font-family 'goodtime'
								font-size 19px
							img
								display inline-block
								width 50px
								height 50px
		footer
			padding 2em
			background-color rgb(90, 90, 90)
			color rgb(50, 50, 50)
			.datos_contacto
				display inline-block
				ul
					list-style none	
					.info
						font-size 14px
						border-bottom solid 1px rgb(50, 50, 50)
						a
							text-decoration none
							color rgb(50, 50, 50)
		header
			z-index 0
			position relative
			img
				width 100%
			.titulo_header
				font-family 'goodtime'
				padding 1em
				background-color #fff
				color #000
				opacity .7
				position absolute
				width 70%
				bottom 5%
				left 0%
		nav
			background-color black
			height 61px
			.menu
				z-index 1
				margin 0
				width 100%
				background-color rgba(0,0,0, 0.6)
				//opacity 0.5
				h1
					margin 10px 0 0 5px
					padding 0
					color white
					display inline-block
					vertical-align top	
					font-family 'goodtime'				
				img
					margin-top .3em
					display inline-block
					width 50px
					height 50px
				ul		
					display inline
					vertical-align top
					float right
					.item
						display inline-block
						padding .3em
						border-right solid 2px white						
						border-radius 20px				
						margin 0 .1em
						a
							color white
							text-decoration none
							font-weight bold			
